.main {
	display: grid;
	grid-template-columns: 160px 260px 1fr 1fr 1fr;
	justify-items: center;
	align-items: center;

	.logo {
		display: grid;
		justify-items: center;
		align-items: center;
		width: 160px;
		height: 105px;
	}

	.phone {
		display: grid;
		grid-template-rows: 1fr 1fr;

		width: 260px;

		.p {
			font-size: 26px;
			font-weight: 700;
			color: #0058A5;
		}

		.d {
			font-size: 14px;
			font-weight: 400;
			color: #828282;
		}
	}

	.nav {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
		// justify-content: space-between;
		justify-items: center;
		align-items: center;
	}
}