.main {
	display: grid;
	grid-template-columns: auto 160px 260px 5fr 130px 220px auto;
	justify-items: center;
	align-items: center;

	gap: 20px;

	.logo {
		display: grid;
		justify-items: center;
		align-items: center;
		width: 160px;
		height: 105px;
	}

	.phone {
		display: grid;
		grid-template-rows: 1fr 1fr;

		width: 260px;

		.p {
			font-size: 26px;
			font-weight: 700;
			color: #0058a5;
		}

		.d {
			font-size: 14px;
			font-weight: 400;
			color: #828282;
		}
	}

	.nav {
		display: grid;
		grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;

		justify-items: center;
		align-items: center;

		font-size: 14px;
		font-weight: 400;
	}

	.social {
		display: grid;
		grid-template-columns: 25px 25px 25px 25px;
		gap: 10px;
	}
}
